server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://127.0.0.1:55432/examdb
    username: postgres
    password: postgres
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
  flyway:
    baseline-on-migrate: true
    locations: classpath:db/migration

